# Finance

## Getting stock price data

In [11]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader as pdr

In [3]:
style.use('ggplot')

In [4]:
start = dt.datetime(2000, 1, 1)
end = dt.datetime(2016, 12, 31)

In [7]:
df = web.DataReader('TSLA', 'yahoo', start, end)

ImmediateDeprecationError:
Yahoo Daily has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [12]:
pdr.get_data_fred('GS10')

            GS10
DATE
2010-01-01  3.73
2010-02-01  3.69
2010-03-01  3.73
2010-04-01  3.85
2010-05-01  3.42
2010-06-01  3.20
2010-07-01  3.01
2010-08-01  2.70
2010-09-01  2.65
2010-10-01  2.54
2010-11-01  2.76
2010-12-01  3.29
2011-01-01  3.39
2011-02-01  3.58
2011-03-01  3.41
2011-04-01  3.46
2011-05-01  3.17
2011-06-01  3.00
2011-07-01  3.00
2011-08-01  2.30
2011-09-01  1.98
2011-10-01  2.15
2011-11-01  2.01
2011-12-01  1.98
2012-01-01  1.97
2012-02-01  1.97
2012-03-01  2.17
2012-04-01  2.05
2012-05-01  1.80
2012-06-01  1.62
...          ...
2015-12-01  2.24
2016-01-01  2.09
2016-02-01  1.78
2016-03-01  1.89
2016-04-01  1.81
2016-05-01  1.81
2016-06-01  1.64
2016-07-01  1.50
2016-08-01  1.56
2016-09-01  1.63
2016-10-01  1.76
2016-11-01  2.14
2016-12-01  2.49
2017-01-01  2.43
2017-02-01  2.42
2017-03-01  2.48
2017-04-01  2.30
2017-05-01  2.30
2017-06-01  2.19
2017-07-01  2.32
2017-08-01  2.21
2017-09-01  2.20
2017-10-01  2.36
2017-11-01  2.35
2017-12-01  2.40
2018-01-01  2.58
2018-02-01  2.86
2018-03-01  2.84
2018-04-01  2.87
2018-05-01  2.98

[101 rows x 1 columns]